.container {
  width: 760px;
  margin: 20px auto;
}

.test {
  margin-top: 20px;
  height: 100px;
  width: 300px;
  border: 1px black  solid;
  text-align: center;
  line-height: 100px;
  cursor: pointer;
}

.result {
  margin-top: 20px;
  height: 400px;
  background: url('./empty.jpg') no-repeat center;
  background-size: auto 100%;
	display: none;
}

.info {
  margin-top: 20px;
  height: 400px;
  background: url('./background.jpg') no-repeat center;
  background-size: auto 100%;
  padding: 74px 250px 74px 234px;
	display: none;
}

.question {
	text-align: center;
	margin-top: 10px;
}