.container {
  width: 320px;
  margin: 0px auto;
}

.test {
  margin-top: 20px;
  height: 100px;
  width: 300px;
  border: 1px black  solid;
  text-align: center;
  line-height: 100px;
  cursor: pointer;
}

.result {
  margin-top: 20px;
  height: 170px;
  background: url('./empty-mobile.jpg') no-repeat center;
  background-size: auto 100%;
	display: none;
}

.info {
  margin-top: 20px;
  height: 170px;
  background: url('./background-mobile.png') no-repeat center;
  background-size: auto 100%;
	padding: 74px 250px 74px 234px;
	display: none;
}

.question {
	text-align: center;
	margin-top: 10px;
}